.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden; /* Evita scroll della pagina intera */
}

.content-container {
  flex: 1;
  flex-direction: row;
  overflow-y: auto; /* Scroll solo qui dentro */ /* Sfondo neutro o il tuo gradiente */
  padding: 1rem;
}
