@if (loading()) {
  <div class="spinner-container">
    <p-progressSpinner />
  </div>
} @else {
  <div class="card shadow-1 border-round p-3">
    <div class="flex align-items-center justify-content-between mb-4">
      <h2 i18n="@@userSettings.pageTitle" class="m-0 font-medium text-xl">User Management</h2>
    </div>

    <p-table
      [value]="users()"
      [scrollable]="true"
      scrollHeight="350px"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th i18n="@@userSettings.table.firstName">First Name</th>
          <th i18n="@@userSettings.table.lastName">Last Name</th>
          <th i18n="@@userSettings.table.email">Email</th>
          <th i18n="@@userSettings.table.role" class="text-center" style="width: 150px">Role</th>
          @if (isDeleteMode()) {
            <th i18n="@@userSettings.table.actions" style="width: 80px" class="text-center">
              Actions
            </th>
          }
          @if (isEditMode()) {
            <th i18n="@@userSettings.table.edit" style="width: 80px" class="text-center">Edit</th>
          }
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td class="text-center">
            <p-tag [value]="user.role"></p-tag>
          </td>
          @if (isDeleteMode()) {
            <td class="text-center">
              <p-button
                icon="pi pi-trash"
                severity="danger"
                [rounded]="true"
                [text]="true"
                (click)="deleteUser(user)"
              >
              </p-button>
            </td>
          }
          @if (isEditMode()) {
            <td class="text-center">
              <p-button
                icon="pi pi-pencil"
                severity="info"
                [rounded]="true"
                [text]="true"
                (onClick)="openEditDialog(user)"
              ></p-button>
            </td>
          }
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td i18n="@@userSettings.table.emptyMessage" colspan="4" class="text-center p-5 text-500">
            No users found.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="user-speeddial-container">
    <p-speed-dial
      [model]="userActions"
      direction="up"
      showIcon="pi pi-plus"
      hideIcon="pi pi-times"
      buttonClassName="p-button-primary shadow-4"
    ></p-speed-dial>
  </div>

  <p-dialog
    [header]="selectedUser ? editTitle : newTitle"
    [(visible)]="displayDialog"
    [modal]="true"
    [style]="{ width: '420px' }"
    [draggable]="false"
    [resizable]="false"
  >
    <form [formGroup]="userForm" class="user-form">
      <div class="form-field">
        <label i18n="@@userSettings.form.firstName" for="first_name">First Name</label>
        <input
          pInputText
          id="first_name"
          formControlName="firstName"
          autocomplete="off"
          i18n-placeholder="@@userSettings.form.placeholder.firstName"
          placeholder="Enter first name"
        />
      </div>

      <div class="form-field">
        <label i18n="@@userSettings.form.lastName" for="last_name">Last Name</label>
        <input
          pInputText
          id="last_name"
          formControlName="lastName"
          autocomplete="off"
          i18n-placeholder="@@userSettings.form.placeholder.lastName"
          placeholder="Enter last name"
        />
      </div>

      <div class="form-field">
        <label i18n="@@userSettings.form.email" for="email_field">Email</label>
        <input
          pInputText
          id="email_field"
          formControlName="email"
          autocomplete="off"
          i18n-placeholder="@@userSettings.form.placeholder.email"
          placeholder="Enter email"
        />
      </div>

      <div class="form-field">
        <label i18n="@@userSettings.form.role" for="role_field">Role</label>
        <p-select
          id="role_field"
          formControlName="role"
          [options]="roleOptions"
          optionLabel="label"
          optionValue="value"
          appendTo="body"
          i18n-placeholder="@@userSettings.form.placeholder.role"
          placeholder="Select a role"
          styleClass="w-full"
        ></p-select>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <p-button
        i18n-label="@@userSettings.form.btnCancel"
        label="Cancel"
        icon="pi pi-times"
        [text]="true"
        (click)="displayDialog.set(false)"
      ></p-button>
      <p-button
        i18n-label="@@userSettings.form.btnSave"
        label="Save"
        icon="pi pi-check"
        [disabled]="userForm.invalid"
        (click)="saveUser()"
      ></p-button>
    </ng-template>
  </p-dialog>
}
