.layout {
  display: flex;
  height: calc(100vh - 64px);
  overflow: hidden;
}

app-sidebar {
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
