<nav
  class="sidebar-nav"
  [class.expanded]="isExpanded"
  (mouseenter)="isExpanded = true"
  (mouseleave)="isExpanded = false"
>
  <div class="nav-section nav-top">
    <a
      (click)="goTo('dashboard')"
      [class.active]="isActive('dashboard')"
      class="nav-item"
      tooltipPosition="right"
    >
      <i class="pi pi-chart-line"></i>
      <span>Dashboard</span>
    </a>
    <br />
    <a
      (click)="goTo('categories')"
      [class.active]="isActive('categories')"
      class="nav-item"
      tooltipPosition="right"
    >
      <i class="pi pi-briefcase"></i>
      <span>Categories</span>
    </a>
    <br />

    <a
      (click)="goTo('alerts')"
      [class.active]="isActive('alerts')"
      class="nav-item"
      tooltipPosition="right"
    >
      <i class="pi pi-megaphone"></i>
      <span>Alerts</span>
    </a>
    <br />
    <a
      (click)="goTo('usersettings')"
      [class.active]="isActive('usersettings')"
      class="nav-item"
      tooltipPosition="right"
    >
      <i class="pi pi-user-edit"></i>
      <span>User Settings</span>
    </a>
  </div>

  <div class="nav-section nav-bottom">
    <a (click)="goTo('support')" routerLinkActive="active" class="nav-item" tooltipPosition="right">
      <i class="pi pi-wrench"></i>
      <span>Support</span>
    </a>
  </div>
</nav>
